<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <table id="dataTable" class="table table-bordered table-striped table-hover pt-datatable" cellspacing="0" width="100%">
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="pr253572-picker"></div>

<script type="text/javascript">
    setPageTitle('Transaksi');

    var app_form = null;
    var dataTable = initDT('dataTable', api('/server-scripts/data.php'), [{
        data: 'service_id',
        title: 'Info Produk',
        width: '250px',
        render: function (data, type, row) {
            return '<b>ID : </b>' + row['service_id'] + '<br>' +
                '<b>Nama : </b>' + row['service_name'] + '<br>' +
                '<b>Total : </b>' + formatRupiah(row['total']);
        }
    },
    {
        data: 'buyer_id',
        title: 'Info Pembeli',
        width: '450px',
        render: function (data, type, row) {
            return '<b>ID : </b>' + row['buyer_id'] + '<br>' +
                '<b>Fullname : </b>' + row['buyer_fullname'] + '<br>' +
                '<b>Username : </b>' + row['buyer_username'] + '<br>' +
                '<b>Email : </b>' + row['buyer_email'];
        }
    },
    {
        data: 'kp_order_id',
        title: 'Approval KP',
        width: '250px',
        render: function (data, type, row) {
            var kp_order_id = row['kp_order_id'];
            var kp_approval_status = row['kp_approval_status'];
            if (kp_approval_status) {
                if (kp_approval_status == 'A') kp_approval_status = 'Approved';
                if (kp_approval_status == 'R') kp_approval_status = 'Rejected';
            }
            var kp_approval_date = row['kp_approval_date'];
            var kp_po_number = row['kp_po_number'];
            var kp_po_date = row['kp_po_date'];
            var kp_shipping = row['kp_shipping'];
            return '<b>ID Order : </b>' + (kp_order_id ? kp_order_id : '-') + '<br>' +
                '<b>Status : </b>' + (kp_approval_status ? kp_approval_status : '-') + '<br>' +
                '<b>Tanggal Approval : </b>' + (kp_approval_date ? unixToShortDate(kp_approval_date) : '-') + '<br>' +
                '<b>Nomor PO : </b>' + (kp_po_number ? kp_po_number : '-') + '<br>' +
                '<b>Tanggal PO : </b>' + (kp_po_date ? unixToShortDate(kp_po_date) : '-') + '<br>' +
                '<b>Alamat Pengiriman : </b>' + (kp_shipping ? kp_shipping : '-');
        }
    },
    {
        data: 'kp_confirmation_status',
        title: 'Konfirmasi',
        width: '250px',
        render: function (data, type, row) {
            var kp_confirmation_status = row['kp_confirmation_status'];
            if (kp_confirmation_status) {
                if (kp_confirmation_status == 'CS') kp_confirmation_status = 'Cancel by Seller';
                if (kp_confirmation_status == 'C1') kp_confirmation_status = 'Cancel by Buyer';
                if (kp_confirmation_status == 'AC') kp_confirmation_status = 'Auto Cancel';
                if (kp_confirmation_status == 'D') kp_confirmation_status = 'Purchase Confirm';
                if (kp_confirmation_status == 'D1') kp_confirmation_status = 'Delivered';
            }
            var kp_confirmation_notes = row['kp_confirmation_notes'];
            var kp_confirmation_date = row['kp_confirmation_date'];
            var kp_delivery_date = row['kp_delivery_date'];
            return '<b>Status Konfirmasi : </b>' + (kp_confirmation_status ? kp_confirmation_status : '-') + '<br>' +
                '<b>Catatan : </b>' + (kp_confirmation_notes ? kp_confirmation_notes : '-') + '<br>' +
                '<b>Tanggal Konfirmasi : </b>' + (kp_confirmation_date ? unixToLongDate(kp_confirmation_date) : '-') + '<br>' +
                '<b>Tanggal Pengiriman : </b>' + (kp_delivery_date ? unixToLongDate(kp_delivery_date) : '-') + '<br>' +
                '<button class="btn btn-confirmation btn-primary btn-flat" data-id="' + row['kp_order_id'] + '"><i class="fa fa-pencil"></i> Update</button>';
        }
    },
    {
        data: 'kp_awb_number',
        title: 'Pengiriman',
        width: '250px',
        render: function (data, type, row) {
            var kp_awb_number = row['kp_awb_number'];
            var kp_recipient_name = row['kp_recipient_name'];
            var kp_shipping = row['shipping'];
            return '<b>Nomor Resi : </b>' + (kp_awb_number ? kp_awb_number : '-') + '<br>' +
                '<b>Nama Penerima : </b>' + (kp_recipient_name ? kp_recipient_name : '-') + '<br>' +
                '<b>Detail : </b>' + (kp_shipping ? kp_shipping : '-') + '<br>' +
                '<button class="btn btn-delivery btn-primary btn-flat" data-id="' + row['kp_order_id'] + '"><i class="fa fa-pencil"></i> Update</button>';
        }
    },
    {
        data: 'kp_updated_at',
        title: 'Diperbarui Pada',
        width: '150px',
        'class': 'text-center',
        render: function (data, type, row) {
            return unixToLongDate(data);
        }
    }]);

    dataTable.on('click', '.btn-confirmation', function () {
        updateConfirmation($(this).data('id'));
    })
    dataTable.on('click', '.btn-delivery', function () {
        updateDelivery($(this).data('id'));
    })

    function updateConfirmation(id) {
        app_form = $('#pr253572-picker').jsForm({
            FormId: 'po_confirmation_picker_34235',
            FormItems: [
                jsFormSelect('status', 'Status Order', '', true, [
                    { id: 'CS', text: 'Cancel by Seller' },
                    { id: 'C1', text: 'Cancel by Buyer' },
                    { id: 'AC', text: 'Auto Cancel' },
                    { id: 'D', text: 'Purchase Confirm' },
                    { id: 'D1', text: 'Delivered' }
                ]),
                jsFormTextArea('notes', 'Catatan Order', ''),
                jsFormDate('date', 'Tanggal Diterima Barang', ''),
            ]
        });
        showFormModalA(app_form, 'Update Konfirmasi', api('/server-scripts/update-confirmation.php'), dataTable, { 'order_id': id }, true);
    }

    function updateDelivery(id) {
        app_form = $('#pr253572-picker').jsForm({
            FormId: 'po_delivery_picker_34235',
            FormItems: [
                jsFormText('resi', 'Nomor Resi', ''),
                jsFormText('name', 'Nama Penerima', ''),
                jsFormTextArea('notes', 'Detail Pengiriman', ''),
                jsFormDate('date', 'Tanggal Diterima Barang', ''),
            ]
        });
        showFormModalA(app_form, 'Update Pengiriman', api('/server-scripts/update-delivery.php'), dataTable, { 'order_id': id }, true);
    }

</script>