<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-xs-12 col-sm-6">
                        <div id="identity-container"></div>
                        <hr>
                        <button class="btn btn-flat btn-primary" form="app-form"><i
                                class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div id="password-container"></div>
                        <hr>
                        <button class="btn btn-flat btn-primary" form="app-form-pass"><i
                                class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setPageTitle('Profil Admin');

    var access_container = $('#access-container');
    var access = $('#access-list');

    var is_vendor = localStorage.getItem('is_vendor');
    var is_user = localStorage.getItem('is_user');
    var is_procurement = localStorage.getItem('is_procurement');
    var is_legal = localStorage.getItem('is_legal');
    var is_locket = localStorage.getItem('is_locket');
    var is_admin = localStorage.getItem('is_admin');

    if (is_vendor == 'true') access_container.hide();
    else access_container.show();

    access.html('');
    if (is_admin == 'true') access.append('<li>Admin</li>');
    if (is_user == 'true') access.append('<li>User</li>');
    if (is_procurement == 'true') access.append('<li>Procurement</li>');
    if (is_legal == 'true') access.append('<li>Legal</li>');
    if (is_locket == 'true') access.append('<li>Loket</li>');

    var app_form = $('#identity-container').jsForm({
        FormId: 'app-form',
        FormModal: false,
        FormItems: [
            jsFormText('name', 'Nama', 'Masukkan nama lengkap anda', true),
            jsFormText('email', 'Email', 'Masukkan email anda', true, {}, FR_EMAIL)
        ]
    });

    var app_form_pass = $('#password-container').jsForm({
        FormId: 'app-form-pass',
        FormModal: false,
        FormItems: [
            jsFormText('old_password', 'Kata Sandi Lama', '', true, {}, FR_PASSWORD),
            jsFormText('new_password', 'Kata Sandi Baru', '', true, {}, FR_PASSWORD),
            jsFormText('confirm_password', 'Konfirmasi Kata Sandi', '', true, {}, ['type="password"',
                'data-parsley-equalto="#new_password"'
            ]),
        ]
    });

    app_form.form.submit(function (e) {
        e.preventDefault();

        if (app_form.validator.isValid()) {
            var formData = new FormData(app_form.form[0]);
            appAjaxPOSTVar2(api('/server-scripts/profile/update-profile.php'), formData, function (response) {
                appErrorDialogS(response);
            }, function (response) {
                appInfoDialogS('Data berhasil disimpan.');
            });
        }
    });

    app_form_pass.form.submit(function (e) {
        e.preventDefault();

        if (app_form_pass.validator.isValid()) {
            var formData = new FormData(app_form_pass.form[0]);
            appAjaxPOSTVar2(api('/server-scripts/profile/update-password.php'), formData, function (response) {
                appErrorDialogS(response);
            }, function (response) {
                appInfoDialogS('Data berhasil disimpan.');
            });
        }
    });

    appAjaxGETVar1(api('/server-scripts/profile/profile.php'), function (response) {
        appErrorDialogS(response);
    }, function (res) {
        var data = res[0];
        app_form['name'].val(data.admin_name);
        app_form['email'].val(data.admin_email);
       }, function (res) {
        appErrorDialogS('Data profil tidak ditemukan');
    }, null);

</script>