<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:void(0)" data-target="#tab_umum" data-toggle="tab">Spesifikasi
                            Produk</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-target="#tab_mail" data-toggle="tab">Parameter</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_umum">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="general-container"></div>
                                <hr>
                                <button class="btn btn-primary" form="app-form-general">
                                    <i class="fa fa-save"></i> Simpan
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_mail">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div id="mail-container"></div>
                                <hr>
                                <button class="btn btn-primary" form="app-form-mail">
                                    <i class="fa fa-save"></i> Simpan
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="ss472810-picker"></div>

<script type="text/javascript">
    setPageTitle('Pengaturan');
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($.fn.dataTable.tables(true)).DataTable()
            .columns.adjust();
    });

    var url = '/server-scripts/props/';
    var app_form_general = $('#general-container').jsForm({
        FormId: 'app-form-general',
        FormModal: false,
        FormItems: [
            jsFormSelectMultiSS('brand', 'Brand', 'Pilih Brand', true, [], api(url + 'brand.php')),
            jsFormSelectMultiSS('type', 'Jenis', 'Pilih Jenis', true, [], api(url + 'type.php')),
            jsFormSelectMultiSS('condition', 'Kondisi', 'Pilih Kondisi', true, [], api(url + 'condition.php')),
            jsFormNumeric('price_min', 'Harga Minimal', '', true),
            jsFormNumeric('price_max', 'Harga Maksimal', '', true),
            jsFormSelectMultiSS('category', 'Kategori', 'Pilih Kategori', true, [], api(url + 'category.php')),
            jsFormSelectMultiSS('user-blacklist', 'Blacklist Penjual', 'Pilih Penjual', false, [], api(url + 'user-blacklist.php')),
            jsFormSelect('payment_enabled', 'Gunakan Pembayaran KP', '', false, FR_YESNO_ITEM)
        ]
    });
    app_form_general.form.submit(function (e) {
        e.preventDefault();
        if (app_form_general.validator.isValid()) {
            var formData = new FormData(app_form_general.form[0]);
            formData.set('brand', app_form_general.brand.val());
            formData.set('type', app_form_general.type.val());
            formData.set('condition', app_form_general.condition.val());
            formData.set('category', app_form_general.category.val());
            appAjaxPOSTVar2(api('/server-scripts/update-spesification.php'), formData, function (response) {
                appErrorDialogS(response);
            }, function (response) {
                appInfoDialogS('Konfigurasi berhasil disimpan.');
            });
        }
    });

    var app_form_mail = $('#mail-container').jsForm({
        FormId: 'app-form-mail',
        FormModal: false,
        FormItems: [
            jsFormNumeric('admin_fee', 'Biaya Admin', '', true),
            jsFormNumeric('insurance', 'Asuransi', '', true),
            jsFormNumeric('provicy_fee', 'Biaya Provisi', '', true),
            jsFormNumeric('shipping_fee', 'Biaya Pengiriman', '', true),
            jsFormNumeric('other_fee', 'Biaya Lain-lain', '', true)
        ]
    });
    app_form_mail.form.submit(function (e) {
        e.preventDefault();
        if (app_form_mail.validator.isValid()) {
            var formData = new FormData(app_form_mail.form[0]);
            appAjaxPOSTVar2(api('/server-scripts/update-parameter.php'), formData, function (response) {
                appErrorDialogS(response);
            }, function (response) {
                appInfoDialogS('Konfigurasi berhasil disimpan.');
            });
        }
    });

    function loadSpecConfig() {
        appAjaxPanelGETVar1(api('/server-scripts/service-spec.php'), $('#tab_mail'), function (response) {
            appErrorDialogS(response);
        }, function (res) {
            if (!res) return;

            var data = res[0];
            if (data['brands'] != null) {
                var members = data['brands'].split(',');
                for (var i = 0; i < members.length; i++) {
                    var member = members[i].split(';');
                    app_form_general['brand'].append(gen('option', {
                        value: member[0],
                        selected: 'selected'
                    }, [member[1]]));
                }
            }
            app_form_general.brand.trigger('change');

            if (data['types'] != null) {
                var members = data['types'].split(',');
                for (var i = 0; i < members.length; i++) {
                    var member = members[i].split(';');
                    app_form_general['type'].append(gen('option', {
                        value: member[0],
                        selected: 'selected'
                    }, [member[1]]));
                }
            }
            app_form_general.type.trigger('change');

            if (data['conditions'] != null) {
                var members = data['conditions'].split(',');
                for (var i = 0; i < members.length; i++) {
                    var member = members[i].split(';');
                    app_form_general['condition'].append(gen('option', {
                        value: member[0],
                        selected: 'selected'
                    }, [member[1]]));
                }
            }
            app_form_general.condition.trigger('change');

            app_form_general.price_min.val(data.min_price);
            app_form_general.price_max.val(data.max_price);

            if (data['categories'] != null) {
                var members = data['categories'].split(',');
                for (var i = 0; i < members.length; i++) {
                    var member = members[i].split(';');
                    app_form_general['category'].append(gen('option', {
                        value: member[0],
                        selected: 'selected'
                    }, [member[1]]));
                }
            }
            app_form_general.category.trigger('change');

            if (data['user-blacklist'] != null) {
                var members = data['user-blacklist'].split(',');
                for (var i = 0; i < members.length; i++) {
                    var member = members[i].split(';');
                    app_form_general['user-blacklist'].append(gen('option', {
                        value: member[0],
                        selected: 'selected'
                    }, [member[1]]));
                }
            }
            app_form_general['user-blacklist'].trigger('change');

            app_form_general.payment_enabled.val(data['payment_enabled']);
            app_form_general.payment_enabled.trigger('change');
        }, function (res) {
            appErrorDialogS('Data profil tidak ditemukan');
        }, null);
    }
    loadSpecConfig();

    function loadParameterConfig() {
        appAjaxPanelGETVar1(api('/server-scripts/service-param.php'), $('#tab_mail'), function (response) {
            appErrorDialogS(response);
        }, function (res) {
            if (!res) return;

            var data = res[0];
            app_form_mail.admin_fee.val(data.admin_fee);
            app_form_mail.insurance.val(data.insurance);
            app_form_mail.provicy_fee.val(data.provicy_fee);
            app_form_mail.shipping_fee.val(data.shipping_fee);
            app_form_mail.other_fee.val(data.other_fee);
        }, function (res) {
            appErrorDialogS('Data profil tidak ditemukan');
        }, null);
    }
    loadParameterConfig();

</script>