<div class="wrapper">
    <header class="main-header">
        <a ng-href="/" class="logo">
            <span class="logo-mini">Z</span>
            <span class="logo-lg">Ziptango</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <span class="page-title">Rincian Sirkulir</span>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a ng-href="notification" style="display: none">
                            <i class="fa fa-bell-o"></i>
                            <span id="app-notif-count" class="label label-primary"></span>
                        </a>
                    </li>

                    <li class="dropdown user user-menu">
                        <a ng-href="settings/profile">
                            <img src="dist/images/default_profile.png" class="user-image"
                                 alt="User Image">
                            <span id="app-user-name" class="hidden-xs">Loading...</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" ng-click="logout()">
                            <span class="fa fa-sign-out"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">

            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <ui-view></ui-view>
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 3.0
        </div>
        <strong>Copyright &copy; 2017 Ziptango.</strong> All rights reserved.
    </footer>

    <!-- Modal Image Viewer -->
    <!-- The Modal -->
    <div id="myModal" class="app-img-modal">
        <!-- The Close Button -->
        <span class="close"
              onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="app-img-modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</div>

<script>
    $.fn.modal.Constructor.prototype.enforceFocus = $.noop;
    
    $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
        if (message.includes('Sesi anda habis'))
            silentLogout();
    };

    $('document').ready(function () {
        checkSessionState();
    });

</script>