<style>
    .login-box {
        width: 450px;
        box-shadow: 1px 1px 2px 0 #9c9c9c;
    }

    .login-box-body {
        box-shadow: none !important;
    }

    .login-box-header {
        display: table;
        height: 60px;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #dd4b39;
        color: white;
    }

    .login-box-header div {
        vertical-align: middle;
        display: table-cell;
        width: 100%;
        text-align: center;
    }

    .login-box-header span {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }

    .login-box-footer {
        text-align: center;
        background: white;
        padding: 15px;
        margin: 0;
    }

    .login-box-footer .copyright {
        font-size: 12px;
    }

    .login-box-footer .version {
        font-size: 10px;
        color: grey;
    }

</style>

<div class="bg-login">
    <div class="login-box" style="border:1px solid #ccc;">
        <div class="login-box-body">

            <form id="login-form" method="post" novalidate ng-submit="login()">
                <div class="form-group has-feedback">
                    <label>Masukkan Email Anda</label>
                    <input id="email" name="email" type="email" class="form-control"
                           placeholder="Email" required autofocus>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label>Masukkan Kata Sandi</label>
                    <input id="password" name="password" type="password" class="form-control"
                           placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <hr>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Masuk
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $('#login-form').parsley();
    $('#email').focus();

    $('document').ready(function () {
        checkSessionState();
    });

</script>