<div class="page-404 text-center">
    <h1>Halaman yang anda minta tidak ditemukan !</h1>
    <a ng-href="/" class="btn btn-default">Kembali ke Beranda</a>
</div>

<script>
	$("#loading-splash").hide();
	$("ui-view").fadeIn();

</script>