body {
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
	}
	.def, .def td, .def th, .def tr {
		margin:0px;
		padding:0px;
	}

	.def {
		border-left:#CCCCCC solid 1px;
		border-bottom:#CCCCCC solid 1px;
	}

	.def td, .def th {
		border-top:#CCCCCC solid 1px;
		border-right:#CCCCCC solid 1px;
	}

	.def th {
		background-color:#999999;
	}

	.debet {
		background-color:#FF9BA3;
		}

	.kredit {
		background-color:#A8B3FF;
	}
	
	.table {
        width: 100%;        
        border-collapse:collapse;
    }
	.table td {
		padding: 7px;
		border:2px solid grey;
	}